default:
  email: &email
    default_host: 'localhost:3000'
    default_protocol: 'http'
    customer_notification_email_address: 'from@example.com'
  secret_key_base: &secret_key_base
    'some_secret_key'

development:
  email:
    << *email
    delivery_method: :smtp
    address: 'localhost'
    port: 1025
  secret_key_base: *secret_key_base

test:
  email:
    << *email
    delivery_method: :test
  secret_key_base: *secret_key_base